In [3]:
list(range(6))

[0, 1, 2, 3, 4, 5]

## loading the dataset in the pandas dataframe

In [2]:
import pandas as pd
import os 

path = './data/'

read_csv = os.path.join(path, "auto-mpg.csv")
df = pd.read_csv(read_csv)
df

FileNotFoundError: [Errno 2] File b'./data/auto-mpg.csv' does not exist: b'./data/auto-mpg.csv'

In [37]:
df[0:5]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [38]:
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [39]:
df['cylinders'].dtype

dtype('int64')

In [45]:
# calculating the mean meadian mode 
df = df.select_dtypes(include = ['int64' , 'float'])

headers = list(df.columns.values)
fields = []

for field in headers:
    fields.append({
        'name' : field,
        'mean' : df[field].mean(),
        'var'  : df[field].var(),
        'sdev' : df[field].std()
    })

for field in fields:
    print(field)

{'name': 'mpg', 'mean': 23.514572864321607, 'var': 61.089610774274405, 'sdev': 7.815984312565782}
{'name': 'cylinders', 'mean': 5.454773869346734, 'var': 2.893415439920003, 'sdev': 1.7010042445332119}
{'name': 'displacement', 'mean': 193.42587939698493, 'var': 10872.199152247384, 'sdev': 104.26983817119591}
{'name': 'weight', 'mean': 2970.424623115578, 'var': 717140.9905256763, 'sdev': 846.8417741973268}
{'name': 'acceleration', 'mean': 15.568090452261307, 'var': 7.604848233611383, 'sdev': 2.757688929812676}
{'name': 'year', 'mean': 76.01005025125629, 'var': 13.672442818627143, 'sdev': 3.697626646732623}
{'name': 'origin', 'mean': 1.5728643216080402, 'var': 0.6432920268850549, 'sdev': 0.8020548777266148}

In [4]:
df.columns.values

array(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'], dtype=object)

In [47]:
df2 = pd.DataFrame(fields)
df2

          mean          name        sdev            var
0    23.514573           mpg    7.815984      61.089611
1     5.454774     cylinders    1.701004       2.893415
2   193.425879  displacement  104.269838   10872.199152
3  2970.424623        weight  846.841774  717140.990526
4    15.568090  acceleration    2.757689       7.604848
5    76.010050          year    3.697627      13.672443
6     1.572864        origin    0.802055       0.643292

# dealing missing values

In [4]:
import pandas as pd
import os 

path = './data/'

read_csv = os.path.join(path, "auto-mpg.csv")
df = pd.read_csv(read_csv , na_values = ['NA' , '?'])
df

FileNotFoundError: [Errno 2] File b'./data/auto-mpg.csv' does not exist: b'./data/auto-mpg.csv'

In [2]:
pd.isnull(df['horsepower']).values.any()

True

In [58]:
med = df['horsepower'].median()

In [59]:
med

93.5

In [60]:
df['horsepower'] = df['horsepower'].fillna(med)

In [61]:
pd.isnull(df['horsepower']).values.any()

False

In [8]:
# we can drop the na values by just 

# df = df.dropna()
df[0:5]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

# dropping fields in pandas

In [68]:
import os 
import pandas as pd

path = './data/'

read_csv = os.path.join(path,'auto-mpg.csv')
df = pd.read_csv(read_csv , na_values = ['Na' , '?'])
print ('befor drop ', list(df.columns))

df.drop('name' , 1 , inplace = True)

print('after drop : ', list(df.columns))

befor drop  ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']
after drop :  ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin']

# creating a user defined data frame

In [7]:
import os
import pandas as pd

path = './data/'

read_csv = os.path.join(path , 'auto-mpg.csv')
df = pd.read_csv(read_csv, na_values= ['NA', '?'])

x = df['horsepower']
y = df['name']

result = pd.concat([x,y], axis = 1)
result

     horsepower                               name
0         130.0          chevrolet chevelle malibu
1         165.0                  buick skylark 320
2         150.0                 plymouth satellite
3         150.0                      amc rebel sst
4         140.0                        ford torino
5         198.0                   ford galaxie 500
6         220.0                   chevrolet impala
7         215.0                  plymouth fury iii
8         225.0                   pontiac catalina
9         190.0                 amc ambassador dpl
10        170.0                dodge challenger se
11        160.0                 plymouth 'cuda 340
12        150.0              chevrolet monte carlo
13        225.0            buick estate wagon (sw)
14         95.0              toyota corona mark ii
15         95.0                    plymouth duster
16         97.0                         amc hornet
17         85.0                      ford maverick
18         88.0                       datsun pl510
19         46.0       volkswagen 1131 deluxe sedan
20         87.0                        peugeot 504
21         90.0                        audi 100 ls
22         95.0                           saab 99e
23        113.0                           bmw 2002
24         90.0                        amc gremlin
25        215.0                          ford f250
26        200.0                          chevy c20
27        210.0                         dodge d200
28        193.0                           hi 1200d
29         88.0                       datsun pl510
..          ...                                ...
368        88.0           chevrolet cavalier wagon
369        88.0          chevrolet cavalier 2-door
370        85.0         pontiac j2000 se hatchback
371        84.0                     dodge aries se
372        90.0                    pontiac phoenix
373        92.0               ford fairmont futura
374         NaN                     amc concord dl
375        74.0                volkswagen rabbit l
376        68.0                 mazda glc custom l
377        68.0                   mazda glc custom
378        63.0             plymouth horizon miser
379        70.0                     mercury lynx l
380        88.0                   nissan stanza xe
381        75.0                       honda accord
382        70.0                     toyota corolla
383        67.0                        honda civic
384        67.0                 honda civic (auto)
385        67.0                      datsun 310 gx
386       110.0              buick century limited
387        85.0  oldsmobile cutlass ciera (diesel)
388        92.0         chrysler lebaron medallion
389       112.0                     ford granada l
390        96.0                   toyota celica gt
391        84.0                  dodge charger 2.2
392        90.0                   chevrolet camaro
393        86.0                    ford mustang gl
394        52.0                          vw pickup
395        84.0                      dodge rampage
396        79.0                        ford ranger
397        82.0                         chevy s-10

[398 rows x 2 columns]

# Training and Validation

In order to check the accuracy of the model we have to split the dataset or the training dat ainto test set and validation set.

* **Training Data** - - The data that the machine learning model was fit to/created from. 
* **Validation Data** - - The data that the machine learning model is evaluated upon after it is fit to the training data.

In [10]:
import os
import pandas as pd
import numpy as np


path = '../data/'

read_csv = os.path.join(path , 'auto-mpg.csv')
df = pd.read_csv(read_csv , na_values = ['NA' , '?'])

df = df.reindex(np.random.permutation(df.index))  # reindexing the data set to avoid the overfitting 
df[0:5]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
264,18.1,8,302.0,139.0,3205,11.2,78,1,ford futura
238,33.5,4,98.0,83.0,2075,15.9,77,1,dodge colt m/m
239,30.0,4,97.0,67.0,1985,16.4,77,3,subaru dl
209,19.0,4,120.0,88.0,3270,21.9,76,2,peugeot 504
363,22.4,6,231.0,110.0,3415,15.8,81,1,buick century

In [11]:
len(df)

398

In [21]:
import os
import pandas as pd
import numpy as np  


path = '../data/'

read_csv = os.path.join(path , 'auto-mpg.csv')
df = pd.read_csv(read_csv , na_values = ['NA' , '?'])

df = df.reindex(np.random.permutation(df.index))  # reindexing the data set to avoid the overfitting 
mask = np.random.rand(len(df)) < 0.8
traindf = pd.DataFrame(df[mask])
validationdf = pd.DataFrame(df[~mask])


print(len(traindf))
print(len(validationdf))

315
83

In [24]:
np.random.rand(len(df))<0.8

array([ True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True, False,  True, False, False,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
       False,  True,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True,  True, False, False,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True, False,  True, False,  True,  True, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True, False, False,  True,  True,
       False,  True])

In [15]:
validationdf = pd.DataFrame(df[~mask])
validationdf

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
389,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
52,30.0,4,88.0,76.0,2065,14.5,71,2,fiat 124b
344,39.0,4,86.0,64.0,1875,16.4,81,1,plymouth champ
66,17.0,8,304.0,150.0,3672,11.5,72,1,amc ambassador sst
315,24.3,4,151.0,90.0,3003,20.1,80,1,amc concord
282,22.3,4,140.0,88.0,2890,17.3,79,1,ford fairmont 4
299,27.2,4,141.0,71.0,3190,24.8,79,2,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
125,20.0,6,198.0,95.0,3102,16.5,74,1,plymouth duster
267,27.5,4,134.0,95.0,2560,14.2,78,3,toyota corona
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
339,26.6,4,151.0,84.0,2635,16.4,81,1,buick skylark
150,26.0,4,108.0,93.0,2391,15.5,74,3,subaru
123,20.0,6,156.0,122.0,2807,13.5,73,3,toyota mark ii
59,23.0,4,97.0,54.0,2254,23.5,72,2,volkswagen type 3
36,19.0,6,250.0,88.0,3302,15.5,71,1,ford torino 500
383,38.0,4,91.0,67.0,1965,15.0,82,3,honda civic
158,16.0,8,318.0,150.0,4498,14.5,75,1,plymouth grand fury
115,15.0,8,350.0,145.0,4082,13.0,73,1,chevrolet monte carlo s
128,15.0,6,250.0,100.0,3336,17.0,74,1,chevrolet nova
92,13.0,8,351.0,158.0,4363,13.0,73,1,ford ltd
49,23.0,4,122.0,86.0,2220,14.0,71,1,mercury capri 2000
231,15.5,8,400.0,190.0,4325,12.2,77,1,chrysler cordoba
86,14.0,8,304.0,150.0,3672,11.5,73,1,amc matador
120,19.0,4,121.0,112.0,2868,15.5,73,2,volvo 144ea
121,15.0,8,318.0,150.0,3399,11.0,73,1,dodge dart custom
45,18.0,6,258.0,110.0,2962,13.5,71,1,amc hornet sportabout (sw)
94,13.0,8,440.0,215.0,4735,11.0,73,1,chrysler new yorker brougham
96,13.0,8,360.0,175.0,3821,11.0,73,1,amc ambassador brougham
226,20.5,6,231.0,105.0,3425,16.9,77,1,buick skylark
...,...,...,...,...,...,...,...,...,...
72,15.0,8,304.0,150.0,3892,12.5,72,1,amc matador (sw)
19,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
333,32.7,6,168.0,132.0,2910,11.4,80,3,datsun 280-zx
347,37.0,4,85.0,65.0,1975,19.4,81,3,datsun 210 mpg
309,41.5,4,98.0,76.0,2144,14.7,80,2,vw rabbit
147,24.0,4,90.0,75.0,2108,15.5,74,2,fiat 128
197,29.0,4,90.0,70.0,1937,14.2,76,2,vw rabbit
271,23.2,4,156.0,105.0,2745,16.7,78,1,plymouth sapporo
354,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
167,29.0,4,97.0,75.0,2171,16.0,75,3,toyota corolla
235,26.0,4,97.0,75.0,2265,18.2,77,3,toyota corolla liftback
366,17.6,6,225.0,85.0,3465,16.6,81,1,chrysler lebaron salon
168,23.0,4,140.0,83.0,2639,17.0,75,1,ford pinto
385,38.0,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx
152,19.0,6,225.0,95.0,3264,16.0,75,1,plymouth valiant custom
199,20.0,6,225.0,100.0,3651,17.7,76,1,dodge aspen se
65,14.0,8,351.0,153.0,4129,13.0,72,1,ford galaxie 500
138,14.0,8,318.0,150.0,4457,13.5,74,1,dodge coronet custom (sw)
237,30.5,4,98.0,63.0,2051,17.0,77,1,chevrolet chevette
224,15.0,8,302.0,130.0,4295,14.9,77,1,mercury cougar brougham
38,14.0,8,350.0,165.0,4209,12.0,71,1,chevrolet impala
188,16.0,8,318.0,150.0,4190,13.0,76,1,dodge coronet brougham
172,25.0,4,90.0,71.0,2223,16.5,75,2,volkswagen dasher
74,13.0,8,302.0,140.0,4294,16.0,72,1,ford gran torino (sw)
256,20.5,6,225.0,100.0,3430,17.2,78,1,plymouth volare
185,26.0,4,98.0,79.0,2255,17.7,76,1,dodge colt
311,32.1,4,98.0,70.0,2120,15.5,80,1,chevrolet chevette
39,14.0,8,400.0,175.0,4464,11.5,71,1,pontiac catalina brougham
335,35.0,4,122.0,88.0,2500,15.1,80,2,triumph tr7 coupe
355,33.7,4,107.0,75.0,2210,14.4,81,3,honda prelude

In [18]:
mask = np.random.rand(len(df)) <0.8
pd.DataFrame(df[mask])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
389,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
62,13.0,8,350.0,165.0,4274,12.0,72,1,chevrolet impala
122,24.0,4,121.0,110.0,2660,14.0,73,2,saab 99le
279,29.5,4,98.0,68.0,2135,16.6,78,3,honda accord lx
336,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
326,43.4,4,90.0,48.0,2335,23.7,80,2,vw dasher (diesel)
88,14.0,8,302.0,137.0,4042,14.5,73,1,ford gran torino
359,28.1,4,141.0,80.0,3230,20.4,81,2,peugeot 505s turbo diesel
40,14.0,8,351.0,153.0,4154,13.5,71,1,ford galaxie 500
116,16.0,8,400.0,230.0,4278,9.5,73,1,pontiac grand prix
344,39.0,4,86.0,64.0,1875,16.4,81,1,plymouth champ
264,18.1,8,302.0,139.0,3205,11.2,78,1,ford futura
315,24.3,4,151.0,90.0,3003,20.1,80,1,amc concord
236,25.5,4,140.0,89.0,2755,15.8,77,1,ford mustang ii 2+2
297,25.4,5,183.0,77.0,3530,20.1,79,2,mercedes benz 300d
31,25.0,4,113.0,95.0,2228,14.0,71,3,toyota corona
211,16.5,6,168.0,120.0,3820,16.7,76,2,mercedes-benz 280s
134,16.0,6,258.0,110.0,3632,18.0,74,1,amc matador
282,22.3,4,140.0,88.0,2890,17.3,79,1,ford fairmont 4
119,20.0,4,114.0,91.0,2582,14.0,73,2,audi 100ls
329,44.6,4,91.0,67.0,1850,13.8,80,3,honda civic 1500 gl
299,27.2,4,141.0,71.0,3190,24.8,79,2,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
125,20.0,6,198.0,95.0,3102,16.5,74,1,plymouth duster
267,27.5,4,134.0,95.0,2560,14.2,78,3,toyota corona
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
313,28.0,4,151.0,90.0,2678,16.5,80,1,chevrolet citation
44,13.0,8,400.0,175.0,5140,12.0,71,1,pontiac safari (sw)
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10
...,...,...,...,...,...,...,...,...,...
349,34.1,4,91.0,68.0,1985,16.0,81,3,mazda glc 4
364,26.6,8,350.0,105.0,3725,19.0,81,1,oldsmobile cutlass ls
303,31.8,4,85.0,65.0,2020,19.2,79,3,datsun 210
224,15.0,8,302.0,130.0,4295,14.9,77,1,mercury cougar brougham
330,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
372,27.0,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix
198,33.0,4,91.0,53.0,1795,17.4,76,3,honda civic
188,16.0,8,318.0,150.0,4190,13.0,76,1,dodge coronet brougham
172,25.0,4,90.0,71.0,2223,16.5,75,2,volkswagen dasher
74,13.0,8,302.0,140.0,4294,16.0,72,1,ford gran torino (sw)
85,13.0,8,350.0,175.0,4100,13.0,73,1,buick century 350
229,16.0,8,400.0,180.0,4220,11.1,77,1,pontiac grand prix lj
256,20.5,6,225.0,100.0,3430,17.2,78,1,plymouth volare
360,30.7,6,145.0,76.0,3160,19.6,81,2,volvo diesel
218,36.0,4,79.0,58.0,1825,18.6,77,2,renault 5 gtl
378,38.0,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser
42,12.0,8,383.0,180.0,4955,11.5,71,1,dodge monaco (sw)
129,31.0,4,79.0,67.0,1950,19.0,74,3,datsun b210
320,37.0,4,119.0,92.0,2434,15.0,80,3,datsun 510 hatchback
388,26.0,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
311,32.1,4,98.0,70.0,2120,15.5,80,1,chevrolet chevette
241,22.0,6,146.0,97.0,2815,14.5,77,3,datsun 810
93,14.0,8,318.0,150.0,4237,14.5,73,1,plymouth fury gran sedan
39,14.0,8,400.0,175.0,4464,11.5,71,1,pontiac catalina brougham
25,10.0,8,360.0,215.0,4615,14.0,70,1,ford f250
335,35.0,4,122.0,88.0,2500,15.1,80,2,triumph tr7 coupe
327,36.4,5,121.0,67.0,2950,19.9,80,2,audi 5000s (diesel)
314,26.4,4,140.0,88.0,2870,18.1,80,1,ford fairmont
195,29.0,4,85.0,52.0,2035,22.2,76,1,chevrolet chevette
175,29.0,4,90.0,70.0,1937,14.0,75,2,volkswagen rabbit

In [19]:
mask

array([ True,  True,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True, False, False,  True,  True, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True, False,
       False,  True])

In [9]:
# converting a dataframe to numeric matrix
df.values

array([[18.0, 6, 250.0, ..., 76, 1, 'ford granada ghia'],
       [13.0, 8, 307.0, ..., 72, 1, 'chevrolet chevelle concours (sw)'],
       [19.2, 8, 305.0, ..., 78, 1, 'chevrolet monte carlo landau'],
       ...,
       [15.0, 8, 318.0, ..., 72, 1, 'plymouth fury iii'],
       [30.0, 4, 98.0, ..., 78, 1, 'chevrolet chevette'],
       [29.5, 4, 97.0, ..., 76, 2, 'volkswagen rabbit']], dtype=object)

In [88]:
df.select_dtypes(include = ['int64' , 'float']).values

array([[ 13. ,   8. , 351. , ...,  13. ,  73. ,   1. ],
       [ 16. ,   8. , 400. , ...,  11.5,  75. ,   1. ],
       [ 12. ,   8. , 400. , ...,  12.5,  73. ,   1. ],
       ...,
       [ 44.6,   4. ,  91. , ...,  13.8,  80. ,   3. ],
       [ 19. ,   6. , 232. , ...,  13. ,  71. ,   1. ],
       [ 13. ,   8. , 307. , ...,  14. ,  72. ,   1. ]])

# savinga a dataframe in csv and pickle

In [90]:
path = './data/'
write_csv = os.path.join(path , 'final-mpg.csv')
df.to_csv(write_csv , index = False) # not add the index because index is not usefull for us
print('done')

done

In [93]:
import pickle
import os
path = './data/'
write_pkl = os.path.join(path , 'final-mpg.pkl')

with open(write_pkl , 'wb') as fp:
    pickle.dump(df , fp)
    
print ('saved')

saved

In [94]:
import pickle

path = './data/'
read_pkl = os.path.join(path , 'final-mpg.pkl')

with open(read_pkl , 'rb') as fp:
    df = pickle.load(fp)
    
df[0:5]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
92,13.0,8,351.0,158.0,4363,13.0,73,1,ford ltd
156,16.0,8,400.0,170.0,4668,11.5,75,1,pontiac catalina
104,12.0,8,400.0,167.0,4906,12.5,73,1,ford country
321,32.2,4,108.0,75.0,2265,15.2,80,3,toyota corolla
221,17.5,8,305.0,145.0,3880,12.5,77,1,chevrolet caprice classic

# Encoding

The data should be completely numeric in order to train the model and the number of column must be fixed

#### basic types of data
* Strings ( Nominal and Ordinal)
* interval and Ratio

### ZScore

In [1]:
import os
import pandas as pd
from scipy.stats import zscore

path = './data/'
read_csv = os.path.join(path, "auto-mpg.csv")

df = pd.read_csv(read_csv,na_values=['NA','?'])
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,1,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,1,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,1,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,3,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,1,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,3,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,3,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,3,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,3,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [11]:
import os
import pandas as pd
from scipy.stats import zscore

path = './data/'
read_csv = os.path.join(path, "auto-mpg.csv")

df = pd.read_csv(read_csv,na_values=['NA','?'])

df['mpg'] = zscore(df['mpg'])
display(df)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,-0.706439,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,-1.090751,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,-0.706439,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,-0.962647,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,-0.834543,8,302.0,140.0,3449,10.5,70,1,ford torino
5,-1.090751,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,-1.218855,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,-1.218855,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,-1.218855,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,-1.090751,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
10,-1.090751,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,-1.218855,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
12,-1.090751,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
13,-1.218855,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
14,0.062185,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
15,-0.194023,6,198.0,95.0,2833,15.5,70,1,plymouth duster
16,-0.706439,6,199.0,97.0,2774,15.5,70,1,amc hornet
17,-0.322127,6,200.0,85.0,2587,16.0,70,1,ford maverick
18,0.446497,4,97.0,88.0,2130,14.5,70,3,datsun pl510
19,0.318393,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,0.190289,4,110.0,87.0,2672,17.5,70,2,peugeot 504
21,0.062185,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
22,0.190289,4,104.0,95.0,2375,17.5,70,2,saab 99e
23,0.318393,4,121.0,113.0,2234,12.5,70,2,bmw 2002
24,-0.322127,6,199.0,90.0,2648,15.0,70,1,amc gremlin
25,-1.731270,8,360.0,215.0,4615,14.0,70,1,ford f250
26,-1.731270,8,307.0,200.0,4376,15.0,70,1,chevy c20
27,-1.603167,8,318.0,210.0,4382,13.5,70,1,dodge d200
28,-1.859374,8,304.0,193.0,4732,18.5,70,1,hi 1200d
29,0.446497,4,97.0,88.0,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,0.446497,4,112.0,88.0,2640,18.6,82,1,chevrolet cavalier wagon
369,1.343225,4,112.0,88.0,2395,18.0,82,1,chevrolet cavalier 2-door
370,0.958913,4,112.0,85.0,2575,16.2,82,1,pontiac j2000 se hatchback
371,0.702705,4,135.0,84.0,2525,16.0,82,1,dodge aries se
372,0.446497,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix
373,0.062185,4,140.0,92.0,2865,16.4,82,1,ford fairmont futura
374,-0.065919,4,151.0,NaN,3035,20.5,82,1,amc concord dl
375,1.599433,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l
376,1.727537,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l
377,0.958913,4,91.0,68.0,1970,17.6,82,3,mazda glc custom
378,1.855641,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser
379,1.599433,4,98.0,70.0,2125,17.3,82,1,mercury lynx l
380,1.599433,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe
381,1.599433,4,107.0,75.0,2205,14.5,82,3,honda accord
382,1.343225,4,108.0,70.0,2245,16.9,82,3,toyota corolla
383,1.855641,4,91.0,67.0,1965,15.0,82,3,honda civic
384,1.087017,4,91.0,67.0,1965,15.7,82,3,honda civic (auto)
385,1.855641,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx
386,0.190289,6,181.0,110.0,2945,16.4,82,1,buick century limited
387,1.855641,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,0.318393,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
389,-0.194023,6,232.0,112.0,2835,14.7,82,1,ford granada l
390,1.087017,4,144.0,96.0,2665,13.9,82,3,toyota celica gt
391,1.599433,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2
392,0.446497,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro
393,0.446497,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,2.624265,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,1.087017,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,0.574601,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,0.958913,4,119.0,82.0,2720,19.4,82,1,chevy s-10

# Using Dummy variable

In [26]:
import pandas as pd

path = '../data/'
read_csv = os.path.join(path, "adult.csv")

df = pd.read_csv(read_csv,na_values=['NA','?'])

display(df[0:5])

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [3]:
sex = list(df['sex'].unique())
print(sex)

[' Male', ' Female']

In [4]:
dummies = pd.get_dummies([' Male', ' Female'],prefix='sex')
print(dummies)

   sex_ Female  sex_ Male
0            0          1
1            1          0

In [5]:
dummies = pd.get_dummies(df['sex'],prefix='sex')
print(dummies[0:10])

   sex_ Female  sex_ Male
0            0          1
1            0          1
2            0          1
3            1          0
4            1          0
5            1          0
6            0          1
7            1          0
8            0          1
9            0          1

In [6]:
df = pd.concat([df,dummies],axis=1)
df[0:10]

,Unnamed: 0,a,b,c,d,e,f,g,h,sex,g.1,i,j,k,l,sex_ Female,sex_ Male
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0,1
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0,1
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0,1
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,1,0
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,1,0
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0,1
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,1,0
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,0,1
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0,1

In [7]:
df.drop('sex', axis=1, inplace=True)

In [8]:
df[0:5]

,Unnamed: 0,a,b,c,d,e,f,g,h,g.1,i,j,k,l,sex_ Female,sex_ Male
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,<=50K,0,1
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,40,United-States,<=50K,0,1
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,40,United-States,<=50K,0,1
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0,0,40,Cuba,<=50K,1,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,0,0,40,United-States,<=50K,1,0

# Grouping Sorting and Shuffling

# Shuffling

In [28]:
import os
import pandas as pd
import numpy as np

path = '../data/'
read_csv = os.path.join(path, "auto-mpg.csv")

df = pd.read_csv(read_csv,na_values=['NA','?'])

#np.random.seed(42) # Uncomment this line to get the same shuffle each time
df = df.reindex(np.random.permutation(df.index))
df.reset_index(inplace=True, drop=True)
display(df[0:10])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,19.0,4,120.0,88.0,3270,21.9,76,2,peugeot 504
1,36.1,4,98.0,66.0,1800,14.4,78,1,ford fiesta
2,16.0,6,258.0,110.0,3632,18.0,74,1,amc matador
3,18.0,6,250.0,78.0,3574,21.0,76,1,ford granada ghia
4,16.5,6,168.0,120.0,3820,16.7,76,2,mercedes-benz 280s
5,18.0,6,250.0,105.0,3459,16.0,75,1,chevrolet nova
6,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl
7,12.0,8,383.0,180.0,4955,11.5,71,1,dodge monaco (sw)
8,27.0,4,97.0,60.0,1834,19.0,71,2,volkswagen model 111
9,23.0,4,122.0,86.0,2220,14.0,71,1,mercury capri 2000

In [14]:
import os
import pandas as pd

path = './data/'
read_csv = os.path.join(path, "auto-mpg.csv")

df = pd.read_csv(read_csv,na_values=['NA','?'])

df = df.sort_values(by='name', ascending=True)
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
96,13.0,8,360.0,175.0,3821,11.0,73,1,amc ambassador brougham
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
66,17.0,8,304.0,150.0,3672,11.5,72,1,amc ambassador sst
315,24.3,4,151.0,90.0,3003,20.1,80,1,amc concord
257,19.4,6,232.0,90.0,3210,17.2,78,1,amc concord

In [15]:
import os
import pandas as pd

path = './data/'
read_csv = os.path.join(path, "auto-mpg.csv")
df = pd.read_csv(read_csv,na_values=['NA','?'])

display(df)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,1,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,1,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,1,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,3,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,1,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,3,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,3,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,3,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,3,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [14]:
g = df.groupby('cylinders')['mpg'].mean()
g

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

In [15]:
d = g.to_dict()
d

{3: 20.55,
 4: 29.28676470588236,
 5: 27.366666666666664,
 6: 19.985714285714284,
 8: 14.963106796116508}

In [16]:
d[6]

19.985714285714284

In [17]:
df.groupby('cylinders')['mpg'].count().to_dict()

{3: 4, 4: 204, 5: 3, 6: 84, 8: 103}

# Apply and Map

In [19]:
import os
import pandas as pd
import numpy as np

path = './data/'
read_csv = os.path.join(path, "auto-mpg.csv")
df = pd.read_csv(read_csv,na_values=['NA','?'])

display(df[0:10])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl

In [16]:
df['origin_name'] = df['origin'].map({1: 'North America', 2: 'Europe', 3: 'Asia'})
display(df)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,origin_name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,North America
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,North America
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,North America
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,North America
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,North America
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500,North America
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala,North America
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii,North America
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina,North America
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl,North America
10,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se,North America
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340,North America
12,15.0,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo,North America
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw),North America
14,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii,Asia
15,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster,North America
16,18.0,6,199.0,97.0,2774,15.5,70,1,amc hornet,North America
17,21.0,6,200.0,85.0,2587,16.0,70,1,ford maverick,North America
18,27.0,4,97.0,88.0,2130,14.5,70,3,datsun pl510,Asia
19,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan,Europe
20,25.0,4,110.0,87.0,2672,17.5,70,2,peugeot 504,Europe
21,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls,Europe
22,25.0,4,104.0,95.0,2375,17.5,70,2,saab 99e,Europe
23,26.0,4,121.0,113.0,2234,12.5,70,2,bmw 2002,Europe
24,21.0,6,199.0,90.0,2648,15.0,70,1,amc gremlin,North America
25,10.0,8,360.0,215.0,4615,14.0,70,1,ford f250,North America
26,10.0,8,307.0,200.0,4376,15.0,70,1,chevy c20,North America
27,11.0,8,318.0,210.0,4382,13.5,70,1,dodge d200,North America
28,9.0,8,304.0,193.0,4732,18.5,70,1,hi 1200d,North America
29,27.0,4,97.0,88.0,2130,14.5,71,3,datsun pl510,Asia
...,...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,1,chevrolet cavalier wagon,North America
369,34.0,4,112.0,88.0,2395,18.0,82,1,chevrolet cavalier 2-door,North America
370,31.0,4,112.0,85.0,2575,16.2,82,1,pontiac j2000 se hatchback,North America
371,29.0,4,135.0,84.0,2525,16.0,82,1,dodge aries se,North America
372,27.0,4,151.0,90.0,2735,18.0,82,1,pontiac phoenix,North America
373,24.0,4,140.0,92.0,2865,16.4,82,1,ford fairmont futura,North America
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl,North America
375,36.0,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l,Europe
376,37.0,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l,Asia
377,31.0,4,91.0,68.0,1970,17.6,82,3,mazda glc custom,Asia
378,38.0,4,105.0,63.0,2125,14.7,82,1,plymouth horizon miser,North America
379,36.0,4,98.0,70.0,2125,17.3,82,1,mercury lynx l,North America
380,36.0,4,120.0,88.0,2160,14.5,82,3,nissan stanza xe,Asia
381,36.0,4,107.0,75.0,2205,14.5,82,3,honda accord,Asia
382,34.0,4,108.0,70.0,2245,16.9,82,3,toyota corolla,Asia
383,38.0,4,91.0,67.0,1965,15.0,82,3,honda civic,Asia
384,32.0,4,91.0,67.0,1965,15.7,82,3,honda civic (auto),Asia
385,38.0,4,91.0,67.0,1995,16.2,82,3,datsun 310 gx,Asia
386,25.0,6,181.0,110.0,2945,16.4,82,1,buick century limited,North America
387,38.0,6,262.0,85.0,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),North America
388,26.0,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion,North America
389,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l,North America
390,32.0,4,144.0,96.0,2665,13.9,82,3,toyota celica gt,Asia
391,36.0,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2,North America
392,27.0,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro,North America
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,North America
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,Europe
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,North America
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,North America
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,North America

In [21]:
effi = df.apply(lambda x: x['displacement']/x['horsepower'], axis=1)
display(effi[0:10])

0    2.361538
1    2.121212
2    2.120000
3    2.026667
4    2.157143
5    2.166667
6    2.063636
7    2.046512
8    2.022222
9    2.052632
dtype: float64

# Calculated feilds

In [23]:
import os
import pandas as pd

path = './data/'
read_csv = os.path.join(path, "auto-mpg.csv")
df = pd.read_csv(read_csv,na_values=['NA','?'])

df.insert(1, 'weight_kg', (df['weight'] * 0.45359237).astype(int))
df[0:5]

,mpg,weight_kg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,1589,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,1675,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,1558,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,1557,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,1564,8,302.0,140.0,3449,10.5,70,1,ford torino